<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Catalog</title>
</head>
<body>
    <header>
        <h1>Product Catalog</h1>
    </header>
    <main>
        <div class="product-list">
            {% for product in Products %}
            <div class="product">
                <tr>
                    {% for d in product %}
                    <td>{{d}}</td>
                    {% endfor %}
                </tr>
                <p><strong>Product_ID:</strong> {{ product[0] }}</p> <!-- Company Name -->
                <p><strong>Product_Name:</strong> {{ product[1] }}</p> <!-- Description -->
                <p><strong>Company_Name:</strong> ${{ product[2] }}</p> <!-- Price -->
                <p><strong>Description:</strong> {{ product[3] }}</p> <!-- Quantity -->
                <p><strong>Price:</strong> {{ product[4] }}</p> <!-- Compatibility -->
                <p><strong>Quantity:</strong> {{ product[5] }}</p> <!-- Quantity -->
                <p><strong>Compatibility:</strong> {{ product[6] }}</p> <!-- Compatibility -->
              
            </div>
            {% endfor %}
        </div>
    </main>
    <footer>
        <p>&copy; 2024 Product Catalog</p>
    </footer>
</body>
</html>
