<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Hello</title>
    </head>
    <body>
        <h1>Get It Right</h1>
        <p>Computer parts store</p>
        <!--Temporary thing-->
        <a href = './form'>Search Database</a>

        <!--Home page of the website ProCowTipper-->
        <a href = './'>Home</a>

        <!--Each product shows compatibility with others and other information regarding product Albaraa-->
        <a href = './catalog'>Catalog</a>

        <!--Shows information about you, and option to add payment method-->
        <a href = './'>Profile</a>

        <!--Cart shows compatibility, cost of items in cart, add payment method, and ability to purchase-->
        <a href = './'>Cart</a>

        <!--Allows login, if no account, allows registration ProCowTipper-->
        <a href = './'>Login</a>

        <!--For Admin, add inventory as needed Albaraa-->
        <a href = './'>Add inventory</a>
    </body>
</html>